body{
  font-family: Helvetica, Arial, sans-serif;
  background-color: #FDFFCF;
}


header {
  padding: 60px;
  text-align: center;
  background: #85B6D1;
  color: blue;
  font-size: 20px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  width: 660px;
  margin: 15px auto;
}

li{
  width: 120px;
  height: 40px;
  margin: 0px 4px;
  border: 2px solid #85B6D1;
  border-radius: 5px;
  float: left;
}

a {
  display: block;
  width:120px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}

#headtext{
  color: white;
}

#profilephoto {
  border-radius: 50%;
}


#welcome{
  text-align: center;
}

#disclaimer{
  text-align: center;
}

h2 {
  margin-left: 15px;
}

h3 {
  margin-left: 15px;
  text-decoration: underline;
}

h5 {
  margin-left: 20px
}

p {
  margin-left: 25px
}

h1{
  color: black;
}


h2{
  color: teal;
}
